<div class="login-container">
    <div class="login-box">
        <div class="title-box">
            <span>
                <div>{{ title.top }}</div>
                <div>{{ title.bottom }}</div>
            </span>
        </div>
        <form id="login-form" [formGroup]="formData" (ngSubmit)="onClickSubmit(formData.value)">
            <div id="loginForm">
                <div id="email-pass-container">
                    <input type="email" class="input-text" placeholder="Email or phone number" autofocus="1"
                    autocomplete="username" formControlName="email">
                </div>
                
                <div id="email-pass-container">
                    <input type="password" class="input-text" placeholder="Password" autofocus="1"
                    autocomplete="current-password" formControlName="pass">
                </div>
                
                <div id="login-button-container" *ngIf="!isDisplaySignUp">
                    <button value="1" id="loginButton" name="login" type="submit">{{ title.button }}</button>
                </div>
                
                <div id="link-container">
                    <div class="forgot-pass" (click)="onClickForgot()">
                        <a class="forgotPass">Forgot account?</a>
                    </div>
                    <div class="or-span">
                        <span class="forgotPass">or</span>
                    </div>
                    <div class="register" (click)="onClickSignIn()">
                        <a class="sign">Sign Up</a>
                    </div>
                </div>
                
            </div>
        </form>
    </div>
</div>
<app-footer></app-footer>