<div id="mainFooter" class="mainFooter">
    <div class="leftItems">
        <div class="buttonFooter" (click)="getNews('hot')">
            <img class="image" src="./assets/fire.svg" alt>
        </div>
        <div class="buttonFooter" (click)="getNews('sports')">
            <img class="image" src="./assets/fast.svg" alt>
        </div>
        <div class="buttonFooter" (click)="getNews('business')">
            <img class="image" src="./assets/money.svg" alt>
        </div>
        <div class="buttonFooter" (click)="getNews('it')">
            <img class="image" src="./assets/pc.svg" alt>
        </div>
        <div class="buttonFooter" (click)="getNews('life')">
            <img class="image" src="./assets/fashion.svg" alt>
        </div>
        <div class="buttonFooter" (click)="getNews('science')">
            <img class="image" src="./assets/science.svg" alt>
        </div>
    </div>
    <div class="rightItems">
        <div class="buttonFooter">
            <img class="image" src="./assets/search.svg" alt>
        </div>
        <div class="buttonFooter">
            <img class="image" src="./assets/gear.svg" alt>
        </div>
    </div>
</div>
