<div class="login-container">
    <div class="login-box">
        <div class="title-box">
            <span>
                <div>{{ title.top }}</div>
                <div>{{ title.bottom }}</div>
            </span>
        </div>
        <form id="login-form" [formGroup]="formData">
            <div id="loginForm">
                <div id="email-pass-container" *ngIf="!isMailOk">
                    <input type="email" class="inputValid" id="mail" placeholder="Email or phone number" autofocus="1"
                    formControlName="email">
                    <p id="letter" class="invalid" *ngIf="isMailErr">Input invalid</p>
                </div>
                
                <div id="email-pass-container" *ngIf="isMailOk && !isConfirmSuccess">
                    <input type="tel" class="inputValid" id="code" placeholder="Confirm code" autofocus="1"
                    formControlName="code">
                    <p id="letter" class="invalid" *ngIf="isCodeErr">The confirm code not match</p>
                </div>
                <div id="email-pass-container" class="invalid" *ngIf="isConfirmSuccess">
                    <input type="password" class="inputValid" id="pass" placeholder="Password" autofocus="1"
                    formControlName="pass">
                    <p id="letter" class="invalid" *ngIf="isPassErr">Password must have length 6~256</p>
                </div>
                <div id="email-pass-container" class="invalid" *ngIf="isConfirmSuccess">
                    <input type="password" class="inputValid" id="confirmPass" placeholder="Password" autofocus="1"
                    formControlName="confirmPass">
                    <p id="letter" class="invalid" *ngIf="isConfirmErr">Confirm password not match</p>
                </div>
                
                <div id="login-button-container" *ngIf="!isConfirmSuccess">
                    <button value="1" id="sendButton" name="login" type="submit" (click)="onClickSubmitEmail(formData.value)">{{ title.button }}</button>
                </div>

                <div id="login-button-container" *ngIf="isConfirmSuccess">
                    <button value="1" id="confirmButton" name="login" type="submit" (click)="onClickSubmitCode(formData.value)">{{ title.button }}</button>
                </div>
            </div>
        </form>
    </div>
</div>
<app-footer></app-footer>