<div id="mainFooter" class="mainFooter">
    <div class="buttonFooter">
        <img class="image" src="./assets/plane.svg" alt>
        <p class="title">Dễ</p>
    </div>
    <div class="buttonFooter">
        <img class="image" src="./assets/travel.svg" alt>
        <p class="title">Khó</p>
    </div>
    <div class="buttonFooter">
        <img class="image" src="./assets/youtube.svg" alt>
        <p class="title">Video</p>
    </div>
    <div class="buttonFooter">
        <img class="image" src="./assets/heart.svg" alt>
        <p class="title">Like</p>
    </div>
    <div class="buttonFooter">
        <img class="image" src="./assets/ranking.svg" alt>
        <p class="title">Rank</p>
    </div>
</div>
