.login-container {
    background: #f0f2f5;
    display: block;
    padding: 20px 0;
    line-height: 1.34;
    height: calc(100% - 70px);
}

.login-box {
    color: #1c1e21;
    line-height: 1.34;
    font-size: 12px;
    text-align: center;
    border: 1px solid #dddfe2;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    margin: 0 20px;
    padding: 0 0 14px 0;
}

.title-box{
    text-align: center;
    padding: 24px 0 16px 0;
}

form {
    margin: 0;
    padding: 0;
}

#loginForm {
    margin: 0 8px;
    padding: 0;
}

#email-pass-container{
    margin: 0 8px;
    padding: 6px 0;
}

.input-text {
    margin: 0;
    background: #FFFFFF repeat-x;
    border: 1px solid #dddfe2;
    color: #1d2129;
    height: 48px;
    line-height: 16px;
    vertical-align: middle;
    border-radius: 6px;
    font-size: 17px;
    padding: 14px 16px;
}

#login-button-container {
    margin: 0 8px;
    padding: 6px 0;
}

#sendButton, #confirmButton{
    margin: 0;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 40px;
    width: 248px;
}

.forgot-pass {
    padding: 10px 0 2px;
}

.forgotPass {
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    color: #1877f2;
    font-size: 14px;
    font-weight: 500;
}

.link-container {
    display: block;
    text-align: center;
}
.or-span{
    line-height: 1.34;
    font-size: 12px;
    display: block;
    margin: 10px 8px;
    width: auto;
    span {
        display: inline-block;
        position: relative;
        cursor: default;
    }
    span:before {
        margin-right: 15px;
        right: 100%;
    }
    span:after {
        left: 100%;
        margin-left: 15px;
    }
    span:before, span:after {
        background: #ccd0d5;
        content: "";
        height: 1px;
        position: absolute;
        top: 50%;
        width: 99px;
    }
}

.register {
    padding: 6px 0;
}

.sign {
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: #42b72a;
    cursor: pointer;
    display: inline-block;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    line-height: 40px;
    padding: 0 16px;
}